$font-color-text-regular: #fff;
$font-color-text-error: #f00;
$font-color-text-heading: #ff0;
$font-color-text-talent-name: #d8bf4c;
$font-color-text-rarity-good: #42d630;
$font-color-text-rarity-rare: #0b16f3;
$font-color-text-rarity-epic: #7030c5;
$font-color-text-rarity-legendary: #ef8e00;
$font-color-btn-main: #6e2d20;
$font-color-btn-reject: #f00;
$bg-color-white: #fff;
$bg-color-sand: #ffe9b9;
$bg-color-black: #000;
$border-color-gold: #ffd700;

